/* color theme */

.w3-theme-l5 {color:#000 !important; background-color:#ffe9ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffb5ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#ff6aff !important}
.w3-theme-l2 {color:#fff !important; background-color:#ff20ff !important}
.w3-theme-l1 {color:#fff !important; background-color:#d400d4 !important}
.w3-theme-d1 {color:#fff !important; background-color:#7c007c !important}
.w3-theme-d2 {color:#fff !important; background-color:#6e006e !important}
.w3-theme-d3 {color:#fff !important; background-color:#600060 !important}
.w3-theme-d4 {color:#fff !important; background-color:#530053 !important}
.w3-theme-d5 {color:#fff !important; background-color:#450045 !important}

.w3-theme-light {color:#000 !important; background-color:#ffe9ff !important}
.w3-theme-dark {color:#fff !important; background-color:#450045 !important}
.w3-theme-action {color:#fff !important; background-color:#450045 !important}

.w3-theme {color:#fff !important; background-color:#8b008b !important}
.w3-text-theme {color:#8b008b !important}
.w3-border-theme {border-color:#8b008b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#8b008b !important}
.w3-hover-text-theme:hover {color:#8b008b !important}
.w3-hover-border-theme:hover {border-color:#8b008b !important}